{% extends "_includes/default.njk" %}
{% block title %}James Gurbb{% endblock %}
{% block content %}
  <div class="container">
    {% for item in resume %}
      <div data-value="{{item.key}}" class="font-bold">
      {{ item.fields.companyName}}
      </div>
      {%- markdown -%}
      {{item.fields.responsibilities | safe}}
      {%- endmarkdown -%}
    {% endfor %}
  </div>
{% endblock %}