{% extends "_includes/default.njk" %}
{% block title %}James Gurbb{% endblock %}
{% block header  %}
{% include "./_includes/_header.njk" %}
{%endblock%}
{% block content %}
<div class="print:hidden pointer-events-none fixed top-0 inset-x-0 h-32 bg-gradient-to-b from-white via-white to-transparent z-10"></div>
<div class="hidden sm:fixed pointer-events-none bottom-0 transform inset-x-0 h-32 bg-gradient-to-b from-transparent via-white to-white z-10"></div>
<header class="sm:w-2/5 flex flex-col top-0 sticky self-start transform justify-center z-10">
<div class="mt-4 sm:mt-0 sm:h-screen sm:flex flex-col justify-center">
  {%  include "_header.njk" %}  
</div>
  </header>

  <main class="mt-64 sm:mt-0 sm:w-3/5 sm:ml-auto">
  
    {% for item in resume %}
  <div class="my-4 font">  
      <div class="font-serif mb-1 mt-3" data-bind="html: dates">
      {{ item.fields.from }} - {{item.fields.to}}
      </div>
      <div class="mb-1">
      <div class="text-xs uppercase -ml-3 px-3 py-1 mb-1 bg-gray-200 rounded-full inline-block" data-bind="text: jobTitle">
      {{ item.fields.jobTitle}}      
      </div>
      <div data-bind="text: companyName" class="font-bold">
      {{ item.fields.companyName}}
      </div>
      </div>
      <div class="text-sm divide-y-2">
      {%- markdown -%}
      {{item.fields.responsibilities  | safe}}{.text-gray-600 .divide-y-2}
      {%- endmarkdown -%}
      </div>    
    </div>
    {% endfor %}
  </main>
{% endblock %}