{% set me = globals.name %}
<aside>
    <p>{{ me }} </p>
<address class="flex flex-col not-italic">
{% for dets in globals.address %}
    <a href="mailto:{{ dets.email }}">{{ dets.email }}</a>    
    <a href="tel:+44{{ dets.phone }}">0{{ dets.phone }}</a>    
    <a href="{{ dets.web }}">{{ dets.web | prettyUrl }}</a>    
{% endfor %}
</address>
{% for item in resume.jobs %}
  <article class="my-4">  
      <div class="font-serif mb-1 mt-3" data-bind="html: dates">
      {{ item.fields.from }} - {{item.fields.to}}
      </div>
      <div class="mb-1">
      <div class="expanded tracking-wider text-xs uppercase -ml-3 px-3 py-1 mb-1 bg-gray-200 rounded-full inline-block " data-bind="text: jobTitle">
      {{ item.fields.jobTitle}}      
      </div>
      <details class="text-sm divide-y-2">
      <summary data-bind="text: companyName" class="font-bold">
      {{ item.fields.companyName}}
      </summary>
      {%- markdown -%}
      {{item.fields.responsibilities  | safe}}{.text-gray-600 .divide-y-2 .text-lg}
      {%- endmarkdown -%}
      </details>    
      
      </div>
    </article>
    {% endfor %}
</aside>
