{% set me = globals.name %}
    <p>{{ me }} </p>
<address class="flex flex-col not-italic">
{% for dets in globals.address %}
    <a href="mailto:{{ dets.email }}">{{ dets.email }}</a>    
    <a href="tel:+44{{ dets.phone }}">0{{ dets.phone }}</a>    
    <a href="{{ dets.web }}">{{ dets.web | prettyUrl }}</a>    
{% endfor %}
</address>

