<h1 class="title text-center flex flex-col justify-center leading-none">
{% for title in globals.titles %}
    
    
    <span class="word" style="--clr:{{ title.color }}" class="word my-0">{{ title.word }}</span>
    
    
    {% endfor %}
</h1>

